[submodule "_misc/FatProps"]
	path = _misc/FatProps
	url = https://github.com/fatpound/FatProps
	update = rebase
[submodule "_misc/FatCodex"]
	path = _misc/FatCodex
	url = https://github.com/fatpound/FatCodex.git
